<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Application</title>
</head>
<body>

<h1>Edit an existing book</h1>
<form th:action="@{/books/update}" th:object="${book}" method="post">
    <p>Id: <input type="number" th:field="${book.id}"/></p>
    <p>Title: <input type="text" th:field="${book.title}"/></p>
    <p>Author: <input type="text" th:field="${book.author}"></p>
    <p>Genre: <input type="text" th:field="${book.genre}"/></p>
    <p>Quantity: <input type="number" th:field="${book.quantity}"/></p>
    <p>Price: <input type="number" th:field="${book.price}"/></p>
    <p><button>Save</button></p>
</form>

<div th:if="${param.success}">
    Book successfully updated!
</div>

<a th:href="@{/books}">List of books</a>
</body>
</html>